.bottom_right
{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.appoint_acpt_button
{
    display: flex;
    justify-content: space-between;
}
.card_body
{
    height: 8rem;

}