.Appointments_container_top {
  display: flex;
  padding: 15px;
  height: 70px;


  /* justify-content: space-around; */
}
.Appointments_body {
  padding: 26px 40px 20px;
  background-color: rgb(238, 225, 225);
}
.Appointments_container {
  position: relative;
  background-color: white;
  margin-top: 10px;
  /* border: 1px solid black; */
  min-height: 75vh;
}
.Appointments_container_top h2 {
  font-size: 18px;
  height: 40px;
}
.Profile_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  /* border: 1px solid black; */
  width: 80%;
  height: 40px;
}
.user_details {
  display: flex;
  flex-direction: column;
}
.Appointments_container_bottom {
  display: flex;
  border-bottom: 1px solid grey;
}
.file_img {
  width: 100px;
  height: 100px;
}
.file_img img {
  width: 100px;
  nheight: 100px;
  object-fit: cover;
}
.card
{
  /* border: 1px solid black; */
  height: 18rem;
  width: 20rem;
  margin: 10px;

}
.card img
{
  width: 12rem;
  height: 15rem;
}
.appointcards
{
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  margin-top: -100px;
  align-items: center;
  overflow: scroll;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bottom_left {
  width: 20rem;
  margin-top: -17px;
  height:70vh;
  overflow: scroll;
  /* border: 1px solid black; */
  border-right: 1px solid rgb(211, 197, 197);
}
.bottom_left li {
  list-style: none;
  font-size: 14px;
  padding: 16px 10px 16px 20px;
  height: 50px;
  border-bottom: 1px solid rgb(179, 173, 173);
}
.bottom_right {
  align-items: center;
  width: 100%;
  min-height: 70vh;
}
.Bottom_menu {
  display: none;
}
@media all and (max-width: 500px) {
  .Appointments_container_bottom {
    flex-direction: column;
  }
  .bottom_left {
    width: 100%;
    /* border: 1px solid black; */
    height: max-content;
  }
  .Bottom_menu {
    display: flex;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 40px;
    height: 30px;
  }
  .Appointments_body {
    padding-top: 10%;
    padding-right: 0%;
    padding-left: 0%;
  }
}
